body {
  background-color: #263238;
}

td { font-size: 20px; }

th {
  font-size: 22px;
  text-align: center;
}

.search {
  height: 35px;
  width: 35px;
  background-color: #464545;
  font-size: 12px;

  text-decoration: none;
}

.search-input {
  height: 35px;
  width: 105px;
  background-color: #464545;
  color: #ffab00;
  font-size: 12px;

  text-decoration: none;
  border: none;
  padding: 10px;
}

.arrow {
  height: 30px;
  width: 30px;
  background-color: #464545;

  border: none;
  text-decoration: none;
}

.arrow-left {
  border: none;
  border-radius: 1em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.arrow-right {
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
}

.arrow:hover, .search:hover, .search-input:hover { color: #ffab00; }

/* Menu */
.menu a {
  font-size: 28px;
  padding: 20px 50px;
  border: 1px solid #a1887f;
  transition: .2s all;
}

.menu a:hover {
  color: #ffab00;
  transition: .2s all;
}

/* General */
.general tr {
  transition: all .5s;
}

.general tr:hover {
  background-color: rgba(0,255,0,0.1) !important;
  transition: all .5s;
  cursor: pointer;
}

/* Instance Ranks */
.instances * {
  font-size: 40px;
}

.instances td {
  vertical-align: middle !important;
}

.instances img {
  border-radius: 4em;
  transition: 2s all;
}

.instances tr:hover img {
  border-radius: 0em;
  transition: 1.5s all;
}

.instances tr:hover {
  transition: all .5s;
}

.instances tr:hover {
  background-color: rgba(0,255,0,0.1) !important;
  cursor: pointer;
  transition: all .5s;
}

.align-middle td {
  vertical-align: middle !important;
}

.exp-1 { border: 2px solid #795548; }
.exp-2 { border: 2px solid #1b5e20; }
.exp-3 { border: 2px solid #0d47a1; }

.guild { color: rgba(0,255,0,0.7); }
