<div class="row">
  <div class="col-xs-12">
    <br>
    <div class="text-center">
      <table class="table table-striped table-bordered fka">
        <tbody>
          <tr class="align-middle lich-king" ng-click="goTo('fka', '4576')">
            <td><img src="img/first_kill/The Lich King.png"></td>
            <td class="text-warning"><h2>Fall of the Lich King</h2></td>
            <td><img src="img/first_kill/achievements_icon/inv_helmet_96.jpg"></td>
          </tr>
          <tr class="align-middle kel-thuzad" ng-click="goTo('fka', '1402')">
            <td><img src="img/first_kill/Kel'Thuzad.png"></td>
            <td class="text-warning"><h2>Conqueror of Naxxramas</h2></td>
            <td><img src="img/first_kill/achievements_icon/inv_trinket_naxxramas06.jpg"></td>
          </tr>
          <tr class="align-middle algalon" ng-click="goTo('fka', '3259')">
            <td><img src="img/first_kill/Algalon.png"></td>
            <td class="text-warning"><h2>Celestial Defender</h2></td>
            <td><img src="http://wow.zamimg.com/images/wow/icons/large/achievement_boss_algalon_01.jpg"></td>
          </tr>
          <tr class="align-middle yogg-saron" ng-click="goTo('fka', '3117')">
            <td><img src="img/first_kill/Yogg-Saron.png"></td>
            <td class="text-warning"><h2>Death's Demise</h2></td>
            <td><img src="img/first_kill/achievements_icon/achievement_boss_yoggsaron_01.jpg"></td>
          </tr>
          <tr class="align-middle malygos" ng-click="goTo('fka', '1400')">
            <td><img src="img/first_kill/Malygos.png"></td>
            <td class="text-warning"><h2>Magic Seeker</h2></td>
            <td><img src="img/first_kill/achievements_icon/inv_misc_head_dragon_blue.jpg"></td>
          </tr>
          <tr class="align-middle sartharion" ng-click="goTo('fka', '456')">
            <td><img src="img/first_kill/Sartharion.png"></td>
            <td class="text-warning"><h2>Obsidian Slayer</h2></td>
            <td><img src="img/first_kill/achievements_icon/achievement_dungeon_coablackdragonflight_25man.jpg"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
