<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-bordered">
      <thead class="text-warning">
        <th>●</th>
        <th>Character</th>
        <th>lvl</th>
        <th>Guild</th>
      </thead>
      <tbody>
        <tr class="text-center align-middle">
          <td>
            <img width="64" ng-src="{{ 'img/race/64/' + char.race + '-' + char.gender + '.png' }}">
            <img height="64" ng-src="{{ 'img/class/64/' + char.class + '.png' }}">
          </td>
          <td><b class="text-success" style="font-size: 25px">{{ char.name }}</b></td>
          <td><b class="text-info">{{ char.level }}</b></td>
          <td><b class="guild">{{ (char.guildName != "" && char.guildName != null) ? "<" + char.guildName + ">" : "" }}</b></td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br>
    <div class="text-center">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-warning">
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>lvl</th>
            <th>●</th>
          </tr>
        </thead>
        <tbody class="instances">
          <tr ng-repeat="res in result track by $index" class="exp-{{ res.exp }}">
            <td class="text-danger">{{ $index+1 }}</td>
            <td><img width="150" height="150" ng-src="{{ 'img/instances/' + res.name + '.png' }}"></td>
            <td class="text-warning">{{ res.name }}</td>
            <td style="color: #2962ff;">{{ res.level }}</td>
            <td class="text-danger">{{ res.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
