(function () {
  var app = angular.module('instance_ranks');

  /* Edit with path of APAW */
  app.api = "../apaw/web/app.php/connections/";

  /* Edith with path of TC-JSON-API */
  app.tc_api = location.protocol+"../TC-JSON-API/public/index.php/";


  // take "connections" from app/config/parameters.yml (ex. "local")

})();
