<!DOCTYPE html>
<html ng-app="instance_ranks">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Instance Ranks">
        <meta name="author" content="Helias">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Instance Ranks (beta)</title>

        <!-- JavaScript -->
        <script src="lib/js/jquery.min.js"></script>
        <script src="lib/js/angular.min.js"></script>
        <script src="lib/js/angular-ui-router.min.js"></script>
        <script src="lib/js/ui-bootstrap.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="lib/js/ngStorage.min.js"></script>
        <script src="lib/js/loading-bar.js"></script>

        <script src="js/app.js"></script>
        <script src="js/routes.js"></script>
        <script src="config.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="lib/css/loading-bar.css">

        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>

      <div class="container">
        <a href="#!/g/0/">
          <p class="h1 text-center text-warning">Instance Ranks</p>
        </a>
        <br>

        <br><br>
        <div class="row">
          <div class="col-md-12 visible-md visible-lg">
            <div class="text-center menu">
              <a href="#!/g/0/">Generale</a>
              <a href="#!/i/">Instance</a>
              <a href="#!/fka/" style="cursor: pointer; color: yellow;">First Kill Annuali</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 visible-sm visible-xs">
            <div class="text-center menu">
              <a href="#!/g/0/">Generale</a>
              <div class="visible-xs">
                <br><br>
              </div>
              <a href="#!/i/">Instance</a>
              <br><br><br>
              <a style="cursor: pointer; color: yellow;">First Kill Annuali</a>
            </div>
          </div>
        </div>
        <br>

        <div class="row" ng-show="$state.includes('first_kill_annuali')">
          <div class="col-xs-12">
            <br>
            <button class="arrow arrow-left green" ng-click="update_year(-1)">
              <i class="pull-right glyphicon glyphicon-chevron-left"></i>
            </button>
            <h4 class="text-center year green"> {{ year }} </h4>
            <button class="arrow arrow-right green" ng-click="update_year(1)">
              <i class="pull-right glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <br>
            <div ui-view></div>
            <hr>
            <p class="text-center credits">Created by <a target="_blank" href="https://github.com/Helias"><strong>Helias</strong></a></p>
          </div>
        </div>

      </div>

    </body>
</html>
